    <nav>
 
        <ul id="navMain">
          <li><a href="/welcome"> home</a></li>
          <li><a href="/welcome/about"> About</a></li>
          <li><a href="/welcome/site_map"> Site Map</a></li>
          <li><a href="/welcome/pics"> PICS mann</a></li>
        </ul>
    </nav>