<h1>You're Here!</h1>
<p>
	<font color=green>I came to atlanta to break into the freestyle street magic scene</font>
</p>

<ul>
     <% i=0 %>
     <% while i != 12%>
       <% i+=1 %>
  <li><%= "#{i}" %></li>
      <% end %>
</ul>


