<div class=imgBlock>
    <!--<%= HTTParty.get('http://thecatapi.com/api/images/get?format=html') %>-->
    <% @img_urls.each do |key,value| %>
    <img src="<%= value %>">
    <% end %>


</div>