<!-- HTML 5 Doctype -->
<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- boiler plate i would use if i didn't have the app managing my stylesheet path
    <meta charset="UTF-8">
    <link href="stylesheet.css" type="text/css" rel="stylesheet">
    <title> CSS3 Navigation menu tutorial </title> -->
 
    <!-- IE6-8 support of HTML5 elements --> <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
 
    <!-- NAV menu -->
    <nav>
 
        <ul id="navMain">
          <li><a href="/welcom/index"> home</a></li>
          <li><a href="/welcom/about"> About</a></li>
          <li><a href="/welcom/site_map"> Site Map</a></li>
        </ul>
    </nav>
    <!--end of my nav menu-->
<p>
	not really any need for this page but sure..
</p>
</body>
</html>

